# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
data/raw/
data/*.csv

# Model files
models/*.pkl

# Logs and results
logs/
results/

# OS-specific files
.DS_Store
Thumbs.db

# Sensitive files
*.env
